@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>Catalog</h1>

        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka1.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka2.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka3.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka4.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka5.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="works.html"><img src="Content/img/portfolio/fotka6.jpg" class="img-responsive"></a>
        </div>
    </div>
</div>