@{
	ViewBag.Title = "Abouts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
			</div>
		</div>
	</div>
	<!-- /container -->
</div>

<div class="container">
	<div class="row centered mt mb">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>CHUKUNDUR</h2>
			<p>
				At CHUKUNDUR you will find a wide range of acoustic, electric and bass guitars, electronic keyboards, covers for guitars, guitar strings and other accessories.

				Salon CHUKUNDUR is the official representative of world famous brands - these are Aria (guitars, Japan), Electroharmonix (pedals of sound effects, USA), La Bella (strings, USA), Rotosound (strings, cables for guitars, picks, United Kingdom), Laney ( guitar amplifications, UK), Clayton (picks, sliders, USA).

				Do not be afraid to encounter difficulty in choosing - specialist consultants will always come to your aid and advise the most optimal and suitable model for you.
			</p>
			<!--
			<div class="mx-auto" style="width: 1700px;">
			  <img src="https://www.salesound.ru/goods/Yamaha_F310_s250.jpg" alt="">
			</div> -->

		</div>
	</div>
